body{
    margin: 0
}

header{
    background-color: black;
    color: white
}
header nav a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.container{
    width: 80%;
    margin: 20px auto;
}
/* main page */
.banner{
    height: 400px;
    background-color: gray;
    font-size: 5em;
    text-align: center;
    color: white;
}

/* contact page */

